body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{font-size:12px; font-family:"微软雅黑";}
input,a{outline:none;}
.shading{width:100%;height:100%;background: #666666;opacity:0.6;position:fixed;left:0;top:0;z-index:1200;float:left;display: none;}
.confirm{width:300px;height:180px;background: #464646;position:fixed;left:50%;top:50%;margin-left:-150px;margin-top:-100px;z-index:3000;border:3px solid #252525;border-radius:5px;display: none;}

.confirm-top{width:300px;height:25px;background: #252525;text-align:center;color:white;font-weight:bold;font-size:16px;line-height:25px;}
.confirm-top div{float:left;margin-left:120px;}
.confirm-top img{float:right;vertical-align: middle;margin-right:15px;margin-top:5px;}
.confirm-top img:hover{cursor:pointer;}
.confirm-middle{width:260px;height:65px;color:white;padding-left:20px;padding-right:20px;padding-top:20px;font-size:24px;font-weight:bold;text-align: center;margin:0 auto;float:left;}
.confirm-bottom{width:210px;height:25px;margin:0 auto;clear:both;}
.button-yes,.button-no{width:90px;height:26px;text-align:center;font-size:14px;font-weight:bold;line-height:26px;float:left;border-radius:15px;color:white;font-weight:bold;}
.button-yes{background: #418748}
.button-no{background: #6d3639;margin-left:30px;}
.button-close{margin-left:60px;}
.button-yes:hover,.button-no:hover{cursor:pointer;}

.shopcarRight{display: none;}
.shopcarHide{display: none;}
.shopcarMore{display: none;}

.box-subheader,.box-header,.box-nav,.box-footerlink,.box-footer,.box-subfooter{
	width:100%;min-width: 1200px;float:left;height:auto;font-size:12px;position:relative;
}
.box-subheader{background-color: #fafafa;}
.box-nav{background: url(../img/common/bg1_03.png) repeat-x left center;}
.box-footerlink{background-color: #fdfdfd;}


.subheader,.header,.nav,.footerlink,.footer{
	width:1200px;display:flex;justify-content: space-between;margin:0 auto;
}
.subheader{padding-top:10px;padding-bottom:10px}
.subheader-right{display: flex;justify-content: space-around;}
.subheader-right li {border-right:1px solid #dddddd;padding-left:10px;padding-right:10px}
.subheader-right li:last-child{border:none}
.subheader-li{position:relative;}
.subheader-li ul{position:absolute;top:-10px;left:-10px;width:85px;display:none;border:1px solid #dddddd;background: white;padding-top:9px;padding-left:9px;z-index:20;}
.subheader-li ul li{border:none;}
.subheader-li ul li:first-child{margin-bottom: 8px;}

.subheader-li:hover ul{display:block;}
.subheader-tele{display: flex;justify-content: space-around;}
.subheader-tele img{align-self: center;}
.subheader-tele span{color:red;fontsize:16px;font-style:italic;font-weight:bold}


.header{padding-top:20px;padding-bottom:10px;}
.header input[type="text"]{width:364px;height:20px;border:2px solid #02a3f0;padding:5px;font-size:16px;}
.header input[type="button"]{width:68px;height:34px;border:2px solid #02a3f0;background:#02a3f0;color:white;font-weight:bold;margin-left:-4px;font-size:16px;
}
.header input[type="button"]:hover{cursor: pointer;}
.header .shopcar{width:194px;height:44px;border-radius:22px;background: #f5f5f5;border: 1px solid #c6c7c7;position:relative;}
.header div ul{margin-top:5px;}
.header div ul li{float:left;}

.search-help{float:left;position:relative;}
.del-words{position:absolute;right:10px;top:11px;width:10px;height:10px;display: none;z-index:1}
.del-words:hover{cursor:pointer;}

.shopcarlogo{width:42px;height:42px;border-radius:22px;background: white url(../img/common/shopcarlogo_03.png) no-repeat left 6px top 6px;border:1px solid #c6c7c7;float:left;border-left:none}
.shopcarinfo{text-align:center;line-height:44px;width:130px;float:left}
.shopcarinfo span{color:red;padding-left:5px;padding-right:5px;}
.shopcarRight{width:46px;height:46px;background:#f5f5f5;position:absolute;right:-1px;top:-1px;border-top-right-radius:20px;border-top:1px solid #c6c7c7;border-right:1px solid #c6c7c7}
.shopcarMore{width:290px;border:1px solid #c6c7c7;position:absolute;background: #f5f5f5;right:-1px;top:44px;z-index:10000;padding-top:1px;padding-bottom:1px;}
.shopcarHide{width:164px;height:5px;background: #f5f5f5;position:absolute;top:42px;right:0;z-index:10001}

.shopcar:hover{cursor: pointer;}

.shopcar .itemBox{width:280px;margin:0 auto;height:55px;border-bottom:1px dashed #c6c7c7;float:left;}
.itemBox .left{width:40px;height:50px;float:left;margin-left:20px;}
.itemBox .middle{width:140px;height:40px;padding-top:5px;float:left;padding-left:10px;color:#666666;font-size:14px;}
.itemBox .right{width:60px;height:40px;padding-top:5px;float:left;padding-left:10px;text-align: right;}
.first-h{color:#ff1a3a}
.last-h{color:#1968c0}
.last-h:hover{cursor:pointer;}
.itemBox .left img{width:100%;height:90%;margin-top:2px;}
.box-nav{height:30px;border-top:1px solid black;border-bottom:1px solid black;padding-top:8px;}
.box-nav .nav .nav-li{height:16px;color:white;width:120px;border-right:1px solid #565656;text-align:center;font-size: 16px;}
.box-nav .nav .nav-first{height:31px;background: #02b7ef;width:200px;margin-top:-9px;padding-top:9px;border: none;position:relative}
.box-nav .nav .nav-li a{color:white;display: inline-block;}
.box-nav .nav .nav-li a:hover{color:#34ccff}
.box-nav .nav .nav-li.nav-red a{color:#ff1a28}
.box-nav .nav .nav-li:last-child{margin-right:20px;border:none}
.box-nav{z-index:100}

.box-nav .nav .nav-first .snd-li {width:190px;display:flex;flex-direction:column;flex-wrap:wrap;padding-top:13px;padding-bottom:13px;border-bottom:1px solid #666666;text-align:left;padding-left:10px;position:relative;left:0;background:#f8f8f8;z-index:2;top:10px;}
/*display:none;*/

.box-nav .nav .nav-first .snd-li>dt{width:190px;height:20px;}
.box-nav .nav .nav-first .snd-li dt a{color:#333333;font-size:14px;font-weight:bold;float:left;}
.box-nav .nav .nav-first .snd-li dt img{float:right;margin-right:10px;}
.box-nav .nav .nav-first .snd-li dd a{color:#666666;font-size:13px;}
.box-nav .nav .nav-first .snd-li dt a:hover{color:#34ccff}
.box-nav .nav .nav-first .snd-li dd a:hover{color:#34ccff}
.box-nav .nav .nav-first .snd-li dd a.nav-dd-red{color:#ff1a28}
.box-nav .nav .nav-first .snd-li:last-child{border-bottom:none;}

.box-nav .nav .nav-first .snd-li:hover{background:white;border-left:1px solid #02a3f0;padding-left:9px;width:300px}

/*.box-nav .nav .nav-first:hover .snd-li{display:block}*/
.trd-div{position:absolute;left:199px;width:648px;height:625px;border:1px solid #666666;display: none;top:0;background:white;z-index:-111}
.snd-li1:hover .trd-1{display:block;top:0}
.snd-li2:hover .trd-2{display:block;top:-89px;}
.snd-li3:hover .trd-3{display:block;top:-178px;}
.snd-li4:hover .trd-4{display:block;top:-267px;}
.snd-li5:hover .trd-5{display:block;top:-356px;}
.snd-li6:hover .trd-6{display:block;top:-445px;}
.snd-li7:hover .trd-7{display:block;top:-534px;}


.trd-left{width:420px;height:625px;float:left;}
.trd-left div{width:400px;height:57px;border-bottom:1px dashed #cccccc;margin-left:10px;}
.trd-left div.border-none{border:none}
.trd-left div dt{width:60px;height:40px;float:left;margin-left:15px;margin-top:16px;}
.trd-left div dd a{padding-left:5px;}
.trd-left div dd{width:300px;float:left;margin-left:15px;margin-top:10px;}

.trd-right{width:225px;height:625px;background: #f8f8f8;float:right;}
.trd-right dt{width:195px;height:30px;border-bottom:1px solid black;margin:0 auto;margin-top:30px;}
.trd-right dd{display:flex;flex-direction:column;margin-left:15px;margin-bottom:5px;margin-top:5px;float:left;}
.trd-right dd a{margin-top:2px;margin-bottom:2px;}
.trd-right img{margin:0 auto;}

.footerlink{height:200px;padding-top:24px;border-top:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;background:#fdfdfd;}
.footerlink .link-left{padding-left:40px;width:244px;height:152px;border-right:1px solid #e1e1e1;display: flex;justify-content: space-around;flex-direction: column;}
.footerlink .link-middle{width:780px;height:152px;}
.footerlink dl{border-right:1px solid #e1e1e1;width:96px;height:152px;float:left;padding-left:30px}
.footerlink .link-right{width:140px;height:152px;}

.footerlink .link-left .left-div1 img,.footerlink .link-left .left-div1 h2{float:left;}
.footerlink .link-left .left-div1 h2 {font-weight:bold;font-style:italic;color:#ff1a3a;padding-top:10px;font-size:16px;}

.footerlink .link-left .left-div2 img,.footerlink .link-left .left-div2 h3{float:left;margin-right:10px}

.footerlink .link-left .left-div2 h3{color:#666666;font-weight:bold;}
.footerlink .link-left .left-div3 input[type="button"] {color:white;font-weight:bold;background: #8e8e8e;margin-left:-5px;}
.footerlink .link-left .left-div3 input[type="button"]:hover{cursor:pointer;}
.footerlink .link-left .left-div4{font-size:15px;color:#9b9b9b}
.footerlink .link-middle dt{font-size:16px;margin-bottom:18px;color:#444444}
.footerlink .link-middle dd{font-size:11px;margin-bottom:9px;color:#999999}

.footerlink .link-right{padding-left:20px;}

.footer{padding-top:30px;padding-left:190px;padding-right:190px;box-sizing: border-box;padding-bottom:30px;border-bottom:1px
 solid #cccccc}
.footer>div{width:160px;height:110px;text-align:center;}

.footer div h2{font-size:20px;float:left;padding-top:15px;margin-left:10px;font-weight:bold;color:#656565;margin-bottom:20px;}
.footer img{float:left;margin-left:15px;}
.footer div h3{clear:both;text-align:center;color:#444444}

.subfooter{text-align:center;color:#444444;margin-top:5px;margin-bottom:5px;}


#toIndex{cursor:pointer}


